<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Personal Finance Tracker</title>
</head>

<body class="bg-gray-100 text-gray-800">
<nav class="bg-white shadow-md p-4 flex justify-between">
    <h1 class="text-xl font-semibold">Personal Finance Tracker</h1>
    <div>
    <a href="/">Dashboard</a> |
    <a href="/assets">Assets</a> |
    <a href="/expenses">Expenses</a> |
    <a href="/net-worth-history">Net Worth History</a> |
    <a href="/signup">Sign Up</a> |
    <a href="/logout">Logout</a>
</nav>
<div class="p-6 max-w-5xl mx-auto">
    {% block content %}{% endblock %}
</div>

</body>
</html>
