{% extends "base.html" %}

{% block content %}
<div class="grid grid-cols-3 gap-6">

    <div id="total-assets" class="bg-white p-6 rounded-2xl shadow">
        <h3 class="text-gray-500">Total Assets</h3>
        <p class="text-2xl font-bold">${{ "{:,.2f}".format(total_assets) }}</p>
    </div>

    <div id="total-expenses" class="bg-white p-6 rounded-2xl shadow">
        <h3 class="text-gray-500">Total Expenses</h3>
        <p class="text-2xl font-bold">${{ "{:,.2f}".format(total_expenses) }}</p>
    </div>

    <div id="net-worth" class="bg-white p-6 rounded-2xl shadow">
        <h3 class="text-gray-500">Net Worth</h3>
        {% if net_worth >= 0 %}
        <p class="text-2xl font-bold text-green-600">
            ${{ "{:,.2f}".format(net_worth) }}
        </p>
        {% else %}
        <p class="text-2xl font-bold text-red-600">
            ${{ "{:,.2f}".format(net_worth) }}
        </p>
        {% endif %}
    </div>

</div>

<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

{% if user.accounts|length == 0 %}
<div class="flex justify-center mt-8">
    <button id="link-button"
        class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded-xl shadow">
        Connect Bank
    </button>
</div>

<script>
    document.getElementById('link-button').onclick = async () => {

        const res = await fetch('/plaid/link-token', { method: 'POST' });
        const data = await res.json();

        const handler = Plaid.create({
            token: data.link_token,
            onSuccess: async function(public_token) {
                await fetch('/plaid/exchange-token', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({ public_token })
                });
                window.location.href = "/dashboard";
            }
        });

        handler.open();
    };
</script>

{% elif not user.has_synced %}
<div class="flex justify-center mt-8">
    <form method="post" action="/plaid/sync">
        <button
            class="bg-green-600 hover:bg-green-700 text-white px-6 py-3 rounded-xl shadow">
            Sync Transactions
        </button>
    </form>
</div>
{% else %}
    <div class="text-center mt-8 text-green-400 font-semibold">
        ✔ Bank Connected & Synced
    </div>

    <div class="flex justify-center mt-6">
    <form method="post" action="/toggle-daily-sync">
        <button
            class="px-6 py-3 rounded-xl shadow text-white
            {{ 'bg-green-600 hover:bg-green-700' if user.sync_daily 
               else 'bg-gray-600 hover:bg-gray-700' }}">
            
            {{ 'Sync Daily: ON' if user.sync_daily else 'Sync Daily: OFF' }}
        </button>
    </form>
    </div>
{% endif %}

<div class="text-center mt-4 text-sm text-gray-400">
    {% if user.last_synced %}
        Last sync: {{ user.last_synced.strftime("%b %d, %Y %I:%M %p") }}
    {% else %}
        Not synced yet
    {% endif %}
</div>

{% if user.last_synced %}
<div class="flex justify-center mt-8">
    
    <form method="post" action="/plaid/sync">
        <button
            class="bg-green-600 hover:bg-green-700 text-white px-6 py-3 rounded-xl shadow">
            Sync Now
        </button>
    </form>
</div>

<div class="flex justify-left mt-8">
        <button id="additional-accounts-button"
            class="bg-gray-700 hover:bg-gray-800 text-white px-4 py-2 rounded-lg">
            Add additional accounts
        </button>
</div>

{% endif %}


{% if user.accounts|length >= 2 %}
{% if user.last_synced %}
<div class="mt-4">
    <button onclick="openAccountModal()"
        class="bg-gray-700 hover:bg-gray-800 text-white px-4 py-2 rounded-lg">
        Toggle Accounts
    </button>
</div>

<div class="mt-4 flex gap-2">
    {% for view in saved_views %}
        <a href="/dashboard?{% for id in view.account_ids %}account_ids={{ id }}&{% endfor %}"
           class="bg-blue-600 text-white px-3 py-1 rounded">
            {{ view.name }}
        </a>
    {% endfor %}
</div>
{% endif %}
{% endif %}

{% if not user.plaid_access_token %}
<div class="flex justify-center mt-8">
    <div class="bg-gray-900 text-white p-6 rounded-2xl shadow max-w-md text-center">
        <p class="text-lg font-semibold mb-2">
            Try out the Plaid integration!
        </p>
        <p class="text-gray-400">
            Access the sandbox account using:
        </p>
        <p class="mt-3 font-mono text-blue-400">
            Bank: Chase
        </p>
        <p class="mt-3 font-mono text-blue-400">
            Username: user_good
        </p>
        <p class="font-mono text-blue-400">
            Password: pass_good
        </p>
        <p class="text-gray-400">
            There is no need to add any phone number
        </p>
    </div>
</div>
{% endif %}


<div id="accountModal"
     class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">

    <div class="bg-white rounded-2xl shadow-xl p-6 w-[500px] relative">

        <!-- Close Button -->
        <button
            onclick="closeAccountModal()"
            class="absolute top-3 right-3 text-gray-500 hover:text-black text-2xl font-bold">

            &times;

        </button>

        <h2 id= "accountsHeader" class="text-xl font-bold mb-4">
            Select Accounts
        </h2>

        <!-- Account Pills -->
        <div id="hidden accountPills" class="flex flex-wrap gap-2">

            {% for account in user.accounts %}

                <button
                    type="button"

                    class="pill px-4 py-2 rounded-full border text-sm
                           bg-blue-600 text-white border-blue-600
                           transition duration-150 hover:scale-105"

                    data-id="{{ account.id }}"
                    data-name="{{ account.name }}"
                    data-type="{{ account.type }}"
                    data-subtype="{{ account.subtype }}">

                    {{ account.name }}

                </button>

            {% endfor %}

        </div>
        <h2 id="viewsHeader" class="hidden text-xl font-bold mb-4">
            Select a View
        </h2>

        <!-- View buttons -->
        <div id="viewButtons" class="hidden flex flex-wrap gap-2">

        {% for view in user.saved_views %}
            <div id="view-pill-{{ view.id }}" class="inline-block">

                <button
                    onclick="applyFilter({{ view.account_ids | tojson }})"
                    class="relative bg-gray-700 text-white px-4 py-2 rounded-full">

                    {{ view.name }}

                    <span
                        onclick="event.stopPropagation(); deleteView({{ view.id }})"
                        class="absolute -top-1 -right-1
                            bg-red-500 hover:bg-red-600
                            text-white text-xs font-bold
                            w-5 h-5
                            rounded-full
                            flex items-center justify-center
                            cursor-pointer">

                        x

                    </span>

                </button>

            </div>
        {% endfor %}
        </div>

        <div id="savedViewButton" class="mt-6 flex gap-3">
            <button
                onclick="openViews()"
                class="bg-green-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg">

                See saved views

            </button>
        </div>
        <div id="backToAccountsButton" class="hidden mt-6 flex gap-3">
            <button
                onclick="back2accounts()"
                class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg">

                Back to accounts

            </button>
        </div>
        <!-- Action Buttons -->
        <div id="actionButtons" class="hidden mt-6 flex gap-3">

            <button
                onclick="applyFilter()"
                class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg">

                Apply

            </button>

            <button
                onclick="showSaveView()"
                class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lg">

                Save View

            </button>

        </div>

        <!-- Save View UI -->
        <div id="saveViewSection" class="hidden mt-4">

            <input
                id="viewName"
                type="text"
                placeholder="View name"
                class="w-full border rounded-lg p-2 mb-3">

            <button
                onclick="saveView()"
                class="bg-green-700 hover:bg-green-800 text-white px-4 py-2 rounded-lg">

                Save

            </button>

        </div>

    </div>
</div>



<script src="/static/js/home.js"></script>
{% endblock %}
